body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: black;
    color: white;
}

input[type="range"]{
    margin-top: 5px;
    cursor: pointer;
    width: 100%;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.settings-container {
    display: flex;
    max-width: 600px;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 15px;
    padding: 15px;
    background-color: #191919;
}
.func-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
button{
    display: inline-block;
    margin: 5px;
    background-color: #000000;
    color: white;
    border-radius: 3px;
    font-weight: bolder;
    cursor: pointer;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    border:1.5px solid #858181;
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease-in-out;
    width: 130px;
}

button:hover {
    background-color: #22c55e; 
    transform: scale(1.02)
}

p {
    border: 1px solid rgb(168, 167, 167);
    border-radius: 3px;
    padding: 3px;
    font-size: small;  
}
h3{
    margin-top: 5px;
    margin-bottom: 0px;
}
#edit_max_tokens{
    border: 0px;
    font-size: large;
    display: inline-block;
    max-width: 450px;
    white-space: nowrap;
}

#max_tokens{
    margin-top: -10px;
    margin-bottom: -15px;
}